.navbar {
    position: fixed;
    display: flex;
    background: aqua;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.link {
    font-size: 24px;

    color: white;
    font-weight: 700;
    text-decoration: none;
}


.link:hover {
    font-size: 28px;
    filter: brightness(0.95);
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.arrow {
    width: 35px; /* you can use % */
    height: auto;

}
.arrow:hover {
    filter: brightness(0.95);
    width: 40px;
}

.buttonArrow {
    all: unset;
    cursor: pointer;
}
