.container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    flex-wrap: wrap;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #BBB5B5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    gap: 10px;
    margin-top: 10px;
    
}

.topPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    flex-wrap: wrap;
    gap: 10px;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
}

.username {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;

    color: #ABA6A6;
}


.content {
    align-self: center;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.interaction {
    display: flex;
    margin-top: auto;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}




.follow {
    all: unset;
    cursor: pointer;
    background: #00e0ff;
    border-radius: 20px;
    padding: 5px 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFF3F3;
}

.following {
    all: unset;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 15px;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #545252;
}

.following:hover {
    background: #adadad;
    border-radius: 10px;

}

.followedBy {
    all: unset;
    cursor: pointer;
    font-style: italic;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #545252;
}

.followedBy:hover {
    background: #adadad;
    border-radius: 10px;

}

.follow:hover {

    filter: brightness(0.9);
}


